.login {
    margin-top: 150px;
    margin-bottom: 50px;
    .container_login {
        background: #fff;
        border: 1px solid rgba(0,0,0,.05);
        border-radius: 20px;
        box-shadow: 0 15px 16.83px 0.17px rgba(0,0,0,.05);
        margin: 0 auto;
        width: 900px;
        @media screen and (max-width: 992px) {
            width: 100%;
          }
        .login-content {
            display: flex;
            justify-content: center;
            .banner-login{
                padding: 30px;
                overflow: hidden;
                width: 50%;
                figure {
                    img {
                        width: 100%;
                    }
                }
                @media screen and (max-width: 992px) {
                    display: none;
                  }
            }
            .form-login{
                
            }
        }
    }
}