.card-email{
    font-size: 20px;
}
.location-icon{
    width: 14px;
    
}

.profile{
    display: flex;
    flex-wrap: wrap;
    padding: 150px 0;
    justify-content: space-between;
    .information{
           .info-all{
            width: 400px;
           }
        
        flex:1 0 5rem;
        
        .add-avatar{
            display: none;
        }
        .upload-file{
            border-radius:51%;

        }
        .upload-file:hover{
            opacity: 0.8;
            transition: all 0.2s ease-in;
            .add-avatar{
                display: inline-block;
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate(-50%, -50%);
                color:rgb(0, 0, 0);
                font-size: 30px;
               
            }
        }
        
    }
    .job-hired{
        flex:2 0 5rem;

        .job-hired-image{
            width: 30%;
        }
    }
}
@media only screen and (max-width: 1400px) {
    .info-all{width: 100%;
    margin-bottom: 20px;}
}